/* scale */

h1 {--font-scale: 2;}
h2 {--font-scale: 1.5;}
h3 {--font-scale: 1.17;}
h4, html {--font-scale: 1;}
h5, small {--font-scale: .83;}
h6 {--font-scale: .7;}
h1, h2, h3, h4, h5, h6 {margin:1.5rem 0 1rem 0;}
html, h1, h2, h3, h4, h5, h6, small {
  --icon-scale:calc(var(--root-font-scale, 1) * var(--font-scale, 1));
  font-size:calc(1rem * var(--font-scale, 1));
  /*font-size:calc(16px * var(--icon-scale));*/
}

/* colors */

.status-note {color: #888;}
.status-info {color: #08a;}
.status-success {color: #181;}
.status-warning {color: #c60;}
.status-danger {color: #c00;}

/* animations */

@keyframes spin { to {transform: rotate(360deg);} }
@keyframes blink { 50% {opacity: .2;} 100% {opacity: 1;} }
@keyframes pulse { 0% {scale: calc(var(--scale) * 1.15);} 50% {scale: calc(var(--scale) * .8);} 100% {scale: calc(var(--scale) * 1.15);} }
/*@keyframes turning { to {transform: rotate3d(0, 1, 0, 360deg);} }*/
@keyframes flip { to {transform: rotateX(360deg);} }
@keyframes turn { to {transform: rotateY(360deg);} }
@keyframes swing { 25% {transform: rotate(20deg);} 75% {transform: rotate(-20deg);} }

.anim-spin, .icon-spin {--anim: spin 1s linear infinite;}
.anim-blink {--anim: blink 1s ease-in-out infinite;}
.anim-pulse{--anim: pulse 1s ease-in-out infinite;}
.anim-flip {--anim: flip 2s linear infinite;/*perspective:1.5em;perspective-origin:calc(var(--size) / 2) calc(var(--size) / 2);/*display:inline-block;*/}
.anim-turn {--anim: turn 2s linear infinite;/*perspective:1.5em;perspective-origin:calc(var(--size) / 2) calc(var(--size) / 2);/*display:inline-block;*//*transform-style:preserve-3d;*/}
.anim-swing {--anim: swing 1s linear infinite;}
