:root {
  /* basic */
  --root-font-size: 1.2;
  --font-coeff: 1.25;
  --gap: 1rem;
  --radius: .5rem;
  --line: #ccc;
  --line-input: #999;
  --front-default: #000;
  --back-default: #fff;
  --front: #333;
  --back: #fff;
  --front-invert: #fff;
  --back-invert: #666;
  --link: #04a;
  --visited: #808;
  --hover: #006;
  --active: #f00;

  --outline-hover: #ccc8;
  --outline-focus: #ccc8;
  --outline-focus-visible: #9cfa;
  --outline-valid: #3c36;
  --outline-invalid: #f666;

  --input-off: #ccc;
  --input-on: #06f;
  --input-dot: #fff;
  
  /* derivative */
  --bord: thin solid var(--line);
}