:root {
  --gap: 1rem;
  --list-width: 12rem;
  --radius: .5rem;
  
  --hilite: #ccc3;
  --line: #ccc;
  --bord: thin solid var(--line);
  --shade: 0 .1em .8em 0em #0003;
  
  --front-default: #000;
  --back-default: #fff;
  --front: #333;
  --back: #fcfcfc;
  --link: #04a;
  --visited: #808;
  --hover: #006;
  --active: #f00;
}