/* common */
:root{
  --bg-act:#fd0;
}
body {font: 120% "pt sans",sans-serif;}
.pad {padding:.5em 1em;}

/* sort-list */
sort-list {color:navy;}
sort-list[numeric] {color:orange;}
sort-list:not(:defined) [data-sort] {display:none;}
sort-list[order=asc] [data-sort=asc], sort-list[order=desc] [data-sort=desc] {background:var(--bg-act);}

/* mark-down */
mark-down:not(:defined) {white-space:pre-wrap;}

/* modal */
link-toggle {cursor:pointer;}
link-toggle.act :is(a, button) {background:var(--bg-act);}
/*modal-dialog:defined {background:#ffc;}*/
modal-dialog {/*pointer-events:all;user-select:auto;*/z-index:100;}
modal-dialog {display:block;position:fixed;background:#fff;box-shadow:0 0 0 200vw #cccc, 0 0 3em #000c;overflow:auto;box-sizing:border-box;}
modal-dialog:not(.full) {border-radius:.5em;top:50%;left:50%;translate:-50% -50%;width:33dvw;min-width:16rem;max-width:95dvw;max-height:95dvh;/*width:clamp(16rem,min-content,95dvw);*/}
modal-dialog.full {inset:0;border-radius:0;}
modal-dialog:not(:defined):not(:target, :has(:target)){display:none;}
modal-dialog:defined:not([open]){display:none;}
body:has(modal-dialog:defined[open], modal-dialog:not(:defined):target) {/*pointer-events:none;user-select:none;*/}

/* backdrop */
.backdrop {display:none;}
:is(modal-dialog:defined[open], modal-dialog:not(:defined):target) + .backdrop {display:block;position:fixed;inset:0;z-index:99;pointer-events:all;cursor:default;background:#09f6;}
/* gutter */
/*
html {scrollbar-gutter:stable;}
*/
html:has(modal-dialog.full:defined[open], modal-dialog.full:not(:defined):target) {overflow:hidden;}

/* flex */
.row {display:flex;}
.row.vert {flex-direction:column;}
.col-1 {flex:1;}
.scroll {overflow:auto;}
.divide > * + * {border-top:thin solid #ddd;}