/*
todo:
  - dropdown, +modal, (drawer, tabs, +box hack, +accordion)
  - +grid, +wrap, +image, alert, danger, icon, +scroll table
  - ~form validate, button
*/

/* reset */
body {font:120% sans-serif;}
input, select, textarea, button, table {font:inherit;}
figure {margin:0;padding:0;}
body > main {margin:0 auto;}
main {max-width:50rem;}
img, embed, iframe, object, audio, video {max-width:100%;}
button, input, select, textarea {margin:0;}
img, iframe, fieldset, hr {border:none;}
img {object-fit:cover;}
/*html, body, li, dt, dd, legend, iframe, fieldset {margin:0;padding:0;}*/
* {box-sizing:content-box;}
table, img, embed, iframe, object, audio, video, button, input, select, textarea, [contenteditable] {box-sizing:border-box;}

/* grid */
figure:has( > :is(div, aside, article, section)) {display:flex;gap:1em;}
figure > :is(div, aside, article, section) {background-color:#eee;}
figure > div {flex:initial;min-width:0;}
figure > aside {flex:1;}
figure > article {flex:2;}
figure > section {flex:3;}

/* modal */
figure[hidden][id]:target {margin:0;display:block;box-sizing:border-box;position:fixed;background-color:#fff;padding:1em;box-shadow:0 0 1em #6669;border-radius:.5em;overflow:auto;z-index:100;min-height:10rem;max-height:90dvh;min-width:18rem;max-width:90vw;inset:38% auto auto 50%;translate:-50% -38%;}
figure[hidden][id]:target + a:empty[href^="#"] {position:fixed;inset:-5em;z-index:99;cursor:default;outline:none;background-color:#ccc9;}

/* table */
table, tr>* {border:thin solid #ccc;}
table {border-width:thin 0 0 thin;}
tr>* {border-width:0 thin thin 0;padding:.2em .5em;}
figure:has( > table) {overflow-x:auto;}
hr {border-top:thin solid #ccc;}

/* form */
:is(input, select, textarea):invalid {border-color:red;}
input, select, textarea, button, [contenteditable] {outline:.2em solid transparent;outline-offset:0;}
:where(input, select, textarea, button, [contenteditable]):focus {outline-color:#ccc9;}
.input, input:where(:not([type="checkbox"], [type="radio"], [type="color"], [type="range"], [type="file"])), select, textarea, [contenteditable] {border:thin solid #ccc;border-radius:.2em;padding:.2em;background-color:#fff;} 

/* box toggle */
:is([type="checkbox"], [type="radio"]):not([name]) {display:none;}
label:has( ~ :is([type="checkbox"], [type="radio"]):not([name]):checked) {color:red;}
:is([type="checkbox"], [type="radio"]):not([name]):not(:checked) + *{display:none;}